.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;

	background: rgba(114, 186, 94, 0.05);
	justify-items: center;
	align-items: center;
}

.window {
	box-sizing: border-box;
	width: 336px;
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.window::-webkit-scrollbar {
	display: none;
}

.inner {
	height: 1200px;
}

.item {
	box-sizing: border-box;
	width: 336px;
	height: 600px;
	background: rgba(255, 213, 70, 0.4);
	scroll-snap-align: start;
}
