.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;

	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	margin-left: auto;
	margin-right: auto;

	background: rgba(114, 186, 94, 0.05);
	border: 2px dashed rgba(114, 186, 94, 0.35);
	justify-items: center;
	align-items: center;
}

.item {
	box-sizing: border-box;
	width: 336px;
	height: 600px;
	background: rgba(255, 213, 70, 0.4);
	border: 2px dashed rgba(236, 198, 48, 0.5);
}
